.time-line-container > div:last-child .education__time > .education__line {
  display: none;
}
:global(html) {
  scroll-behavior: smooth;
}
@media (prefers-reduced-motion: reduce) {
  :global(html) {
    scroll-behavior: auto;
  }
}
